.expansionHeader {
  font-size: 18px;
  font-weight: bold;
  color: #333333;
}

.expansionDescription {
  font-size: 12px;
}

.matCard {
  height: 95vh;
  overflow: scroll;
}

.listItem {
  margin-bottom: 5px;
}
